<div id="content">
  <div class="block1">

    <mat-card class="back-sky mat-elevation-z2">
      <div class="blc1">
                <div class="min-block min-1"><i class="fas fa-paw"></i></div>
                <div class="min-block min-2"><h1>Hey,</h1></div>
                <div class="min-block min-3"><p>My name is Tarun Kethwalia. I'm a Full Stack Web Developer and Computer Science Engineer building cool stuff.</p></div>
                <div class="min-block min-4">
                  <button mat-button class="mat-elevation-z3"><i class="fas fa-envelope"></i></button>
                  <button mat-button class="mat-elevation-z3"><i class="fab fa-linkedin-in"></i></button>
                  <button mat-button class="mat-elevation-z3"><i class="fab fa-github"></i></button>
                </div>
                <div class="min-block min-5">
                  <button mat-button class="mat-elevation-z3"><h4>Hire me on Fiverr</h4></button>
                </div>
      </div>
      <div class="blc2">
        <h1>Image</h1>
      </div>
    </mat-card>

  </div>

  <div class="block2">
    <mat-card class="front-data mat-elevation-z4">
      <div class="data-left">
        <div class="Info">
          <h2>About me</h2>
          <p>I am a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis, dolor doloribus error exercitationem ipsa necessitatibus obcaecati officiis placeat quasi, quibusdam quisquam quo sed soluta sunt. Distinctio omnis suscipit velit!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur corporis dicta dolores dolorum eius exercitationem.</p>
        </div>
        <div class="Process">
          <h2>The Process</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci consequuntur debitis dignissimos earum error eum, iste maiores molestias nisi non officiis? Dolorum eius facere modi nobis quae qui reprehenderit!</p>
        </div>
        <div class="Qualification">
          <h2>Qualification</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci consequuntur debitis dignissimos earum error eum, iste maiores molestias nisi non officiis? Dolorum eius facere modi nobis quae qui reprehenderit!</p>
        </div>
      </div>
      <div class="data-right">
        <div class="Projects" *ngFor="let project of projects">
          <img src="{{ImgUrl+project.Url}}" alt="Img">
          <div class="proDiv">
            <h1>{{project.Name}}</h1>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
