<div id="content">
  <div class="block1">

    <mat-card class="back-sky mat-elevation-z2">
      <div class="blc1">
                <div class="min-block min-1"><img class="Hat" src="../../../assets/code.svg" alt="Hat"></div>
                <div class="min-block min-2">
                  <div class="content">
                    <h1 class="typing">Hello,</h1>
                  </div>
                </div>
                <div class="min-block min-3"><p>My name is <span id="portName">Tarun Kethwalia</span>. I'm a Full Stack Web Developer and Computer Science Engineer who loves to code for fun.</p></div>
                <div class="min-block min-4">
                  <button mat-button class="mat-elevation-z4" disabled><i class="fas fa-envelope"></i></button>
                  <a href="https://www.linkedin.com/in/tarun-kethwalia-a908b6171/"><button mat-button class="mat-elevation-z4"><i class="fab fa-linkedin-in"></i></button></a>
                  <a href="https://github.com/tarunkethwalia"><button mat-button class="mat-elevation-z4"><i class="fab fa-github"></i></button></a>
                </div>
                <div class="min-block min-5">
                  <a href="https://www.fiverr.com/tarunkethwalia"><button mat-button class="mat-elevation-z4"><h4>Hire me on Fiverr</h4></button></a>
                </div>
      </div>
      <div class="blc2">
        <div class="imgContent">
          <img class="Man" src="../../../assets/boy5.svg" alt="Man">
          <img class="laptop" src="../../../assets/laptop.png" alt="Laptop">
          <img class="coffee" src="../../../assets/coffee.svg" alt="coffee">
          <img class="clock" src="../../../assets/clock.svg" alt="clock">
        </div>
      </div>
      <img class="wave" src="../../../assets/wave.png" alt="Wave">
    </mat-card>
  </div>

  <div class="block2">
    <mat-card class="front-data mat-elevation-z4">
      <div class="data-left">
        <div class="Info">
          <h2>About me</h2>
          <p>2+ years of experience and skills in HTML5, CSS3, SASS, Bootstrap, Javascript, Jquery, ReactJS & NodeJS. Currently working on AngularJS Projects. As well As have proper knowledge on FrontEnd for Attractive and Responsive Websites.</p>
          <p>I Love working on many different projects because it helps me to learn many different things as well as improves my efficiency of my skills.</p>
        </div>
        <div class="Process">
          <h2>The Process</h2>
          <p>In most of my Projects, I was responsible for implementing the HTML, CSS & JS for a basic structure which includes:</p>
          <ul>
            <li>Analyzing all the modules by keeping in mind the basic MVC structure for a proper flow of UI/UX Design convenient enough for the user.</li>
            <li>Proper planning of the project to cover all the specific requirements by the client.</li>
            <li>Implementation of the project on the latest Frameworks for a responsive website as well as for the simplicity.</li>
            <li>Using popular plugins for common or complex interactive components.</li>
            <li>Collaborating with UI/UX designers and Back End Developers.</li>
            <li>Maintaining proper communication with the clients regarding the progress of their projects.</li>
          </ul>
        </div>
        <div class="Qualification">
          <h2>Qualification</h2>
          <h5>B.Tech Computer Science</h5>
          <small>(Aug. 2015 - May. 2019)</small>
        </div>
      </div>
      <div class="data-right">
        <div class="projectTitle">
          <h2>Projects</h2>
        </div>
        <div class="Projects" *ngFor="let project of projects">
          <img src="{{ImgUrl+project.Url}}" alt="Img">
          <div class="proDiv">
            <h4>{{project.Name}}</h4>
            <a href="{{project.Link}}"><button mat-button class="mat-elevation-z3"><i class="fas fa-arrow-right"></i></button></a>
            <a href="{{project.GitLink}}"><button mat-button class="mat-elevation-z3"><i class="fab fa-github"></i></button></a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
